# IDE
*.idea

# Python Build files
build/*
*.pyd

*.c
*.cpp
!lib/wrapper/pxd_include/*.c
!lib/wrapper/linked_list/LinkedList.c

*__pycache__

*cython_debug*

*Untitled*

*.ipynb_checkpoints*

poetry.lock
dist*