# IDE
*.idea

# Python Build files
build/*
*.pyd

*.c
!lib/wrapper/pxd_include/*.c
!lib/wrapper/utils/LinkedList.c
!lib/wrapper/Listeners/Listener.c
*__pycache__

*cython_debug*

*Untitled*

*.ipynb_checkpoints*