.footer {
    display: none;
}
.body {
    margin-bottom: 50px;
}
.section > dl > dt {
    background-color: #DDE7F7;
}
.current.reference.internal {
    font-weight: bold;
}
.attribute {
    margin-left: 30px;
}

table {
    display: block;
    overflow-x: scroll;
}

.highlight {
    display: block;
    max-height: 200px;
    overflow-y: auto;
}